# Server Configuration
SERVER_PORT=8080

# Database Configuration
DB_HOST=10.60.254.127
DB_PORT=3306
DB_USER=it
DB_PASSWORD=a*999999
DB_NAME=system_hardening

# LDAP Configuration (Domain Controller)
LDAP_SERVER=ldaps://10.60.254.252:636
LDAP_BASE_DN=dc=hot,dc=local
LDAP_DOMAIN_SUFFIX=hot.local
LDAP_USE_TLS=true
LDAP_INSECURE=true
LDAP_CERT_PATH=./certificate/ca.crt
LDAP_USERNAME=ylw@hot.local
LDAP_PASSWORD=!Qw2!Qw2!Qw2!Qw2
LDAP_USER_FILTER=(sAMAccountName=%s)
LDAP_SECURITY_GROUP_DN=CN=IT 部，OU=IT 部，OU=HOT,DC=hot,DC=local

# JWT Configuration
JWT_SECRET=your-super-secret-key-min-32-changes-please-change-in-production
JWT_EXPIRY_HOUR=1
